Source: turnin-ng
Section: utils
Priority: optional
Maintainer: Ryan Kavanagh <ryanakca@kubuntu.org>
Build-Depends: debhelper (>= 7),
 python (>= 2.5),
 quilt
Build-Depends-Indep: python-support (>= 1.0.6),
 texinfo,
 texlive,
 texi2html
Standards-Version: 3.8.4
Homepage: http://github.com/ryanakca/Turnin-NG
Vcs-git: git://github.com/ryanakca/Turnin-NG.git
Vcs-Browser: http://github.com/ryanakca/Turnin-NG/tree/master

Package: turnin-ng
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 python-configobj,
 install-info
Description: Assignment submitter and manager
 Turnin-NG is an assignment submission suite written in Python and composed of
 turnin and project. Students can use the turnin command to submit an
 assignment to a course. Professors and TAs (teaching assistants) can use
 project permits TAs to manage submitted assignments, making them easier to
 grade.
