#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

DEB_COMPRESS_EXCLUDE := .py
DEB_INSTALL_MANPAGES_turnin-ng := doc/turnin.1 doc/project.1

install/turnin-ng::
	makeinfo -o $(CURDIR)/doc/turnin-ng.info $(CURDIR)/doc/turnin-ng.texi

binary-post-install/turnin-ng::
	dh_pysupport
